body {
    font-size: 14px;
    font-weight: lighter;
    left: 0;
    margin: 0;
    font-family: 'Palanquin', sans-serif;
}

.strog {
    font-weight: bold;
}

input {
    text-align: center;
    padding: 3px;
    letter-spacing: 3px;
}

h1 {
    color: lime;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
    color: black;
}


/* NAV */

nav {
    z-index: 1;
    position: fixed;
    /* background-color: white; */
    background:rgba(255,255,255,.9);
    width: 100%;
    height: 53px;
    top: 0;
    border-bottom: 0.1px solid lightgray;
}

.home-logo {
    position: fixed;
    top: 13px;
    margin-left: 13px;
    margin-right: 33px;
    color: fuchsia;
    text-shadow: black;
    font-size: 14px;
    text-decoration-color: lime;
}

.home-logo:hover {
    background-color: fuchsia;
}
.nav-h {
    z-index: 3;
    position: fixed;
    top: 13px;
    left: 66px;
    width: 77vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    /* border: 1px dotted orange; */
}

.nav-h-r {
    z-index: 3;
    position: fixed;
    text-align: right;
    top: 13px;
    right: 0px;
    display: flex;
    flex-flow: row;
    width: auto;
    margin: 0px 13px;

}

footer {
    display: block;
    text-align: right;
    right: 0vw;
    bottom: 0px;
    padding-right: 13px;
}

.nav-v {
    z-index: 3;
    margin-top: 33px;
    position: fixed;
    left: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 13px;
    bottom: 13px;
    height: 333px;
    color: lightgray;
}

.nav-v a:hover, .nav-h a:hover {
    background-color: lime;
}

.artworks-dropdown {
    display: none;
    position: fixed;
    background:rgba(255,255,255,1);
    width: 100vw;
    z-index: 1;
    left: 0vw;
    padding: 23px 0px 23px 166px;
    border-bottom: 0.1px solid lightgray;
}

.artworks-dropdown a{
  /* text-decoration: none; */
  display: block;
  color: fuchsia;
  width: auto;
}

.artworks-dropdown a:hover {
    background: transparent;
    color: lime;
}

.artworks-menu:hover .artworks-dropdown {
    display: block;
}


/* CONTENT */
.content {
    padding: 0 7px;
    text-align: justify;
    /* border: 1px dotted orange; */
    position: relative;
    top: 66px;
    left: 66px;
    height: 100%;
    width: 88%;
}

.home {
    overflow: hidden;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote {
    font-style: italic;
    text-align: right;
    margin: 33px;
}

/*HOME*/
#kitties {
    position: relative;
    width: 100vw;
    height: 88vh;
    overflow: hidden;
    padding: 13px;
}

.kitty {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 0s;
}

.kitty img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.kitty.exit {
    transform: translateX(-100%);
    transition-duration: 1s;
}

.kitty.onscreen {
    transform: translateX(0);
    transition-duration: 1s;
}

#dots {
    position: absolute;
    width: 100%;
    left:0;
    bottom:20px;
    text-align: center;

}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px white solid;
    margin-left: 0 5px;
    border-radius: 50%;
    margin: 3px;
}

.dot.active {
    background-color: white;
}

/* ARTISTS todo: center imgs*/

.artists, .artworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prev-container {
    width: 333px;
    height: auto;
    padding: 13px;
}

.prev-container :hover {
    background-color: lime;
}

.prev {
    padding: 7px;
}

.prev-img {
    text-align: center;
}

.prev-img img {
    width: 303px;
}

.medium {
    font-style: italic;
}

.name {
    font-weight: bold;
    font-size: 16px;
}

.dets {

}

.artwork, .about {
    margin-bottom: 13px;
}

.modal-img img {
    max-width: 90vw;
    max-height: 70vh;
}

/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */

/* @rainbow */

@-webkit-keyframes rainbow{
    20%{color: coral;}
	40%{color: antiquewhite;}
	60%{color: #C5EAD2;}
	80%{color: #a8bfe3;}
	100%{color: plum;}
}

@-ms-keyframes rainbow{
    20%{color: palevioletred;}
	40%{color: antiquewhite;}
	60%{color: #C5EAD2;}
	80%{color: #a8bfe3;}
	100%{color: plum;}
}

@keyframes rainbow{
    20%{color: palevioletred;}
	40%{color: antiquewhite;}
	60%{color: #C5EAD2;}
	80%{color: #a8bfe3;}
	100%{color: plum;}
}
/* @end */
